.table-container {
  background: #f4f7f9;
  padding:64px 32px;
}

.pagination-holder {
  position: sticky;
  bottom: 0;
}

.table-holder {
  width: 100%;
  overflow-x: auto;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
  background: #ffffff;
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 650px;
  text-align: left;

  thead {
    display: table-header-group;
  }

  tr {
    display: table-row;
    vertical-align: middle;
    &:hover {
      td {
        background: #f4f7f9;
      }
    }
  }

  th {
    display: table-cell;
    padding: 16px;
    font-size: 14px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
  }

  td {
    padding: 16px;
    font-size: 14px;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    > span {
      display: block;
      height: 20px;
      width: 80%;
      background: #eee;
      background: linear-gradient(110deg, rgba(221, 221, 221, 0.863) 8%, #ecebeb 18%, rgba(221, 221, 221, 0.863) 33%);
      background-size: 200% 500%;
      animation: 1s shine linear infinite;
    }
  }
}


@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
